# Assessment - 6 Gradable

- Each question carries 5 or 4 marks
- Marks will be assigned in terms of:
    
    **1. Expected output**
    
    **2. Quality and Explainability of code**

    ***Go back through the script and type a comment above each line explaining in English what it does.***

    **3. Copied code, if found, will result in 0 marks for that question. To avoid this make as much comments in the code to explain the approach**

### 1. 

Write a Program to create a class 'Company' and using the class instance and print all the writable attributes of that object such as age, gender, salary, profession and designation. We take atleast 5 employees of an organization

In [1]:
class Company:
    def __init__(self, name, age, gender, salary, profession, designation):
        self.name = name
        self.age = age
        self.gender = gender
        self.salary = salary
        self.profession = profession
        self.designation = designation
    
    def show_details(self):
        print("Name:", self.name)
        print("Age:", self.age)
        print("Gender:", self.gender)
        print("Salary:", self.salary)
        print("Profession:", self.profession)
        print("Designation:", self.designation)
        print()


employee_1 = Company("Ravi", 35, "Male", 75000, "Engineer", "Manager")
employee_2 = Company("Ashwin", 32, "Female", 65000, "Doctor", "Senior Manager")
employee_3 = Company("Kohli", 40, "Male", 80000, "Teacher", "Director")
employee_4 = Company("Pant", 28, "Female", 55000, "Lawyer", "Associate Manager")
employee_5 = Company("Rohit", 45, "Male", 90000, "Spy", "CEO")


employee_1.show_details()
employee_2.show_details()
employee_3.show_details()
employee_4.show_details()
employee_5.show_details()

Name: Ravi
Age: 35
Gender: Male
Salary: 75000
Profession: Engineer
Designation: Manager

Name: Ashwin
Age: 32
Gender: Female
Salary: 65000
Profession: Doctor
Designation: Senior Manager

Name: Kohli
Age: 40
Gender: Male
Salary: 80000
Profession: Teacher
Designation: Director

Name: Pant
Age: 28
Gender: Female
Salary: 55000
Profession: Lawyer
Designation: Associate Manager

Name: Rohit
Age: 45
Gender: Male
Salary: 90000
Profession: Spy
Designation: CEO

### 2. 

Write a program to store details of 6 customers in a text file with features of Unique Customer Id, Name, Location, Phone Number, Last Purchase Date for an ecommerce website that canbe considered for future records

In [13]:
def write_to_file(filename, data):
    with open(filename, 'w') as f:
        f.write(data)

def read_from_file(filename):
    with open(filename, 'r') as f:
        return f.read()

def store_customer_details(filename):
    customers = []
    for i in range(6):
        print("Enter details for customer", i + 1)
        customer_id = input("Enter customer id: ")
        name = input("Enter customer name: ")
        location = input("Enter customer location: ")
        phone_number = input("Enter customer phone number: ")
        last_purchase_date = input("Enter customer last purchase date: ")
        customers.append("{},{},{},{},{}\n".format(customer_id, name, location, phone_number, last_purchase_date))
    write_to_file(filename, "".join(customers))

In [14]:
def display_customer_details(filename):
    customer_details = read_from_file(filename)
    print("Customer Id, Name, Location, Phone Number, Last Purchase Date")
    print(customer_details)

In [15]:
filename = "customers.txt"
store_customer_details(filename)
display_customer_details(filename)

Enter details for customer 1
Enter customer id: 11
Enter customer name: Rahu
Enter customer location: Delhi
Enter customer phone number: 8899
Enter customer last purchase date: Dec 2
Enter details for customer 2
Enter customer id: 22
Enter customer name: Rajesh
Enter customer location: Hyd
Enter customer phone number: 9900
Enter customer last purchase date: Dce 4
Enter details for customer 3
Enter customer id: 33
Enter customer name: Ram
Enter customer location: Vizag
Enter customer phone number: 0099
Enter customer last purchase date: Dec 6
Enter details for customer 4
Enter customer id: 44
Enter customer name: Gagan
Enter customer location: Hyd
Enter customer phone number: 0123
Enter customer last purchase date: Dec 8
Enter details for customer 5
Enter customer id: 55
Enter customer name: Sunil
Enter customer location: Bangalore
Enter customer phone number: 1122
Enter customer last purchase date: Dec 10
Enter details for customer 6
Enter customer id: 66
Enter customer name: Doctore
Enter customer location: Haryana
Enter customer phone number: 8877
Enter customer last purchase date: Dec 12
Customer Id, Name, Location, Phone Number, Last Purchase Date
11,Rahu,Delhi,8899,Dec 2
22,Rajesh,Hyd,9900,Dce 4
33,Ram,Vizag,0099,Dec 6
44,Gagan,Hyd,0123,Dec 8
55,Sunil,Bangalore,1122,Dec 10
66,Doctore,Haryana,8877,Dec 12

### 3. 

Build a Simple Calculator using Exception Handling (try, except) that solves 4 arithmetic operations like Addition, Subtraction, Multiplication and Division.

In [ ]:
def calculate(num1, operator, num2):
    try:
        num1 = float(num1)
        num2 = float(num2)
        if operator == "+":
            return num1 + num2
        elif operator == "-":
            return num1 - num2
        elif operator == "*":
            return num1 * num2
        elif operator == "/":
            if num2 == 0:
                return "Cannot divide by 0."
            else:
                return num1 / num2
        else:
            return "Invalid operator."
    except ValueError:
        return "Invalid input."


print('Result of the given numbers and operators is : ', calculate(num1, operator, num2))

In [7]:
num1 = input("Enter first number: ")
operator = input("Enter operator from these four (+, -, *, /): ")
num2 = input("Enter second number: ")

calculate(num1, operator, num2)

Enter first number: 4
Enter operator from these four (+, -, *, /): /
Enter second number: 0

'Cannot divide by 0.'

In [8]:
num1 = input("Enter first number: ")
operator = input("Enter operator from these four (+, -, *, /): ")
num2 = input("Enter second number: ")

calculate(num1, operator, num2)

Enter first number: 3
Enter operator from these four (+, -, *, /): *
Enter second number: 1.2

3.5999999999999996

In [9]:
num1 = input("Enter first number: ")
operator = input("Enter operator from these four (+, -, *, /): ")
num2 = input("Enter second number: ")

calculate(num1, operator, num2)

Enter first number: 7
Enter operator from these four (+, -, *, /): ?
Enter second number: 7

'Invalid operator.'