#### Create the classes and functions as per following description: 
- Create a class Person : 
   - The attributes of the class are name, age, city
   - The functions of the class are :
       - __init__(self, name, age, city)
       - show_details(self)
       - update_city(self, new_city)
       
- Create a class Employee which inherits the class Person:
    - The attributes of the class are name , age, city, salary, position, dept
    - The functions of the class are : 
        - __init__(self, name , age, city, salary, position, dept)
        - show_details(self)
        - update_salary(self, new_salary)
        - update_dept(self, new_dept)
        - update_position(self, new_pos)
        - inc_salary(self)
        - dec_salary
        
- Make use of the super function when necessary
- Create objects and Demonstrate working of all the functions

In [5]:
#creating class and defininf attributes
class Person:
    name = None
    age = None
    city = None
    
    def __init__(self,name,age,city) :
        self.name = name
        self.age = age
        self.city = city
        
    def show_details(self):
        print('Name:', self.name)
        print('Age:', self.age)
        print('City:', self.city)
        
    def update_city(self,new_city):
        self.city = new_city

class Employee(Person):
    
    def __init__(self,name,age,city,salary,position,dept):
        super().__init__(name, age, city)
        self.salary = salary
        self.position = position
        self.dept = dept
    
    def show_details(self):
        super().show_details()
        print("Salary:", self.salary)
        print("Position:", self.position)
        print("Department:", self.dept)
    
    def update_salary(self, new_salary):
        self.salary = new_salary
    
    def update_dept(self, new_dept):
        self.dept = new_dept
    
    def update_position(self, new_pos):
        self.position = new_pos
    
    def inc_salary(self, inc_amount):
        self.salary += inc_amount
    
    def dec_salary(self, dec_amount):
        self.salary -= dec_amount

In [6]:
person = Person('Gagan',27,'Hyderabad')

person.show_details()

Name: Gagan
Age: 27
City: Hyderabad

In [7]:
person.update_city('Sub_Hyderabad')

person.show_details()

Name: Gagan
Age: 27
City: Sub_Hyderabad

In [8]:
employee = Employee('Ram',2500,'Ayodhya',50000,'God','Humanity')

employee.show_details()

Name: Ram
Age: 2500
City: Ayodhya
Salary: 50000
Position: God
Department: Humanity

In [9]:
employee.inc_salary(5000)

employee.show_details()

Name: Ram
Age: 2500
City: Ayodhya
Salary: 55000
Position: God
Department: Humanity